/* @import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');

p {
    color: #f59e0b;  
    font-size: 2.25rem; 
    margin-bottom: 1.5rem;  
    font-family: 'Meow Script', cursive;
} */